/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

} 

/* Small devices (portrait tablets and large phones, 601px and up) */
@media only screen and (min-width: 601px) {
  .hero #nameheading {
    font-size: 4rem;
  }

  .hero h3{
    font-size: 1.5rem;
  }

  .aboutMe p {
    font-size: 1.2rem;
  }

  .contact h5 {
    font-size: 1.2rem;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}